<html>
    <body>
        
        <h1>Register</h1>

        <form action="createUser/getdata" method="POST">

         <p>Username <input type="text" name="username"></p>
         <p>Password: <input type="text" name="password"></p> 
        
            <input type="submit" value="sign in">
            
        </form>

        <button><a href="../../login">Back to login page</a></button> 
        <button><a href="../../menu">Login as a guest</a></button> 
    </body>
</html>