<html>
    <body>
        
        <%= messege %>
        <form action="login" method="POST">

            User: <input type="text" name="username"><br/>
            Password: <input type="text" name="password"><br/>
            <input type="submit" value="Login">

        </form>

        <button><a href="../../createUser">Sign in</a></button>
        <button><a href="../../menu">Login as a guest</a></button>


    </body>
</html>