<html>
  <head>
    <meta charset="utf-8" />
    <title>movie app</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <span class="logo">WatchDB</span>
      <h2>What can we say? we like to watch and tell</h2>
      <nav>
        <ul>
          <li><a href="search">Search Movie</a></li>
          <li><a href="createMovie">Create Movie</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="middleBox">
        <li></li>
      </div>

      <% movies.forEach(x => { %>
      <div class="items-body-content">
        <a href="/search/getmovie/<%=x.id%> "><%=x.name%></a>
      </div>
      <% }) %>
    </main>
  </body>
</html>
