<html>
<body>
    <h1>Welcome</h1>

    <h3>Menu : </h3>
    
    <ul>
        <li><a href="search">Search</a></li>
        <li><a href="users">Users</a></li>
        <li><a href="createMovie">Create Movie</a></li>
    
    </ul> 
</body>

</html>