<html>
<body>
    <h1>Welcome <%=username %>, you are so HOTT god DAMNNN</h1>

    <h3>Menu : </h3>
    
    <ul>
        <li><a href="search">search</a></li>
        <li><a href="users">Users</a></li>
        <li><a href="createMovie">create movie</a></li>
    
    </ul> 
</body>

</html>