<html>
  <head>
    <meta charset="utf-8" />
    <title>movie app</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <span class="logo">WatchDB</span>
      <h2>What can we say? we like to watch and tell</h2>
      <nav>
        <ul>
          <li><a href="../../menu">Menu</a></li>
          <li><a href="../../createMovie">Create Movie</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="formbox">
        <form action="search/getdata" method="POST">
          <ul>
            <li><label>Name</label><input type="text" name="name" /></li>
            <div class="selectBinder">
              <div class="selectBox">
                <li>
                  <label>Language</label>
                  <select name="language" id="language">
                    <option value="">Any</option>
                    <% langs.forEach(x => { %>
                    <option value="<%= x %>"><%= x %></option>
                    <% }) %>
                  </select>
                </li>
              </div>
              <div class="selectBox">
                <li>
                  <label>Genre</label>

                  <select name="genre" id="genre">
                    <option value="">Any</option>
                    <% genres.forEach(x => { %>
                    <option value="<%= x %>"><%= x %></option>
                    <% }) %>
                  </select>
                </li>
              </div>
            </div>
            <li>
              <input type="submit" value="Search" />
            </li>
          </ul>
        </form>
      </div>
    </main>
  </body>
</html>
