<html>
    <body>
        <button><a href="../../menu">Back to menu</a></button> <br/>
        <h3>This is search page</h3>
        
        <form action="search/getdata" method="POST">

            Name: <input type="text" name="name"><br/>

            Language: <select name="language" id="language">
                <option value="">Any</option>
            <% langs.forEach(x => { %>
                <option value="<%= x %>"><%= x %></option>
            <% }) %> 
        </select>
        <br/>
            Genre: <select name="genre" id="genre">
                <option value="">Any</option>
            <% genres.forEach(x => { %>
                <option value="<%= x %>"><%= x %></option>
            <% }) %>

                
            </select>
            <br/>


            <input type="submit" value="Search">

        </form>

        


            

        
     

    </body>
</html>